html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border:0pt none;
	font-family:inherit;
	font-size:100%;
	font-style:inherit;
	font-weight:inherit;
	margin:0pt;
	outline-color:invert;
	outline-style:none;
	outline-width:0pt;
	padding:0pt;
	vertical-align:baseline;
}
table {
	border-collapse:separate;
	border-spacing:0pt;
}
caption, th, td {
	font-weight:normal;
	text-align:left;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
strong, b {
	font-weight:bold;
}
em, i {
	font-style:italic;
}
* {
	margin:0pt;
	padding:0pt;
}

body {
	background:#151d30;
	font-size:12px;
	font-family:arial, sans-serif;
	
}

a {
	color:#fefefe;
	text-decoration:none;
}

a:hover {
	color:#fefefe;
	text-decoration:none;
}

#top {
	height:220px;
	display:none;
}

#wrapper {
	width:100%;
	background:url(images/headerbg.jpg) center top no-repeat;
	margin:-4px 0 0 0;
}

.content {
	width:940px;
	margin:0px auto;	
	
}

#header {
	padding:35px 0px 35px 0px;
	color:#fff;
	
}

h1{
	margin:43px 0 0 0px;
	padding:0px 0 0 70px;
	background:url(images/logo.png) left top no-repeat;
	font-size:60px;
	font-weight:bold;
	font-family:"myriad pro";
	color:#fff;
}

h1 a{
	color:#fff;
	display:block;
}

h1 a:hover{
	color:#fff;
}
h1 a span{
	font-size:16px;
	font-weight:bold;
	color:#cfe7f1;
	display:block;
	text-transform:uppercase;
	font-weight:normal;
	position:absolute;
}

#menu ul {
	font-size:30px;
	list-style:none;
	color:#fffdbf;
	text-align:center;
	margin:100px 0 0 0;
}

#menu ul li{
	display:inline;
}

#menu ul li a{
	color:#fffdbf;	
	display:inline-block;
	padding:12px 22px;
	line-height:27px;
	text-decoration:none;
}

#menu ul li a:hover{
	color:#fff;	
}

#menu ul li.selected a{
	color:#fffdbf;
	background:url(images/menuhover.png) repeat;	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;

}

#container {
	width:636px;
}

#container img{
	padding:0px 15px 15px 0px;
}

.sidebar {
	width:295px;	
	float:right;
	padding:0px 0 0 0px;
}

.sidebar img{
	margin:0px 7px 15px 0px;
}

#footer .sidebar img{
	width:140px;
	height:141px;
}

.sidebar img.noright{
	margin-right:0px;
}

#footer {
	background:url(images/footerline.jpg) left top repeat-x #0e1424;
	clear:both;
		margin:20px 0 0px 0;
}

#footer .content {
	background:url(images/footer.jpg) center top no-repeat #0e1424;
	padding:30px 0 115px 0;
}

h3 {
	font-size:16px;
	color:#fefefe;
	padding:0 0 10px 0;
}

#footer p {
 	font-size:15px;
	color:#fefefe;
	padding:5px 0;
}

#footer p a:hover{
 	text-decoration:underline;
	color:#fefefe;
	
}

#left {
	float:left;
	width:200px;
	padding:0 100px 0 0;
}

h4 {
	font-family:"Myriad Pro";
	font-size:30px;
	font-weight:bold;
	color:#fffdbf;
	padding:40px 0 12px 0;
}

#top {
	background:#152e46;
}
#top p {
	font-size:16px;
	font-family:Arial;
	color:#97b6d3;
	line-height:22px;
	padding:0 0 10px 0;
}

h5 {
	display:inline-block;
	padding:17px 0;
	font-family:"Myriad Pro";
	font-weight:bold;
}

h5 a{
	margin:0px 25px 0px 0px;
	color:#fffdbf;
	font-size:22px;

}

h5 a:hover{
	text-decoration:underline;
	color:#fffdbf;

}

#insidetop {
	margin:0 auto;
	width:840px;
}

#topline {
	clear:both;
	background:url(images/atop.png) left top repeat-x;
	height:44px;
}

#topline .content {
	text-align:right;
}

#topline .content a{
	display:inline-block;
	width:204px;
	height:34px;
	background:url(images/network.png) left top no-repeat;
	text-align:center;
	cursor:pointer;
	padding:10px 0 0 0;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	text-transform:uppercase;
}

#footer .content a span.leftp {
	font-size:11px;
	color:#41536a;
	float:left;
	text-transform:uppercase;
	margin:90px 0 15px 0;
}

#footer .content a span.rightp {
	font-size:11px;
	color:#41536a;
	float:right;
	text-transform:uppercase;
	margin:90px 0 15px 0;
}